
.App-header {
    background-color:#e8b5b9;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

  }


.App {
  background-color:#e8b5b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px;
  padding-top: -1000px;

}

.App-logo{
  background-color: white;
  max-height: 100px;
  padding: 10px;
}

